nosee/n8n-chat-workflow.json
{
  "name": "Nosee Chat Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "onWorkflowFinish",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nosee-chat"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name as role, content, \"createdAt\"\nFROM n8n_schema.chat_hub_messages\nWHERE \"sessionId\" = $1\nORDER BY \"createdAt\" ASC\nLIMIT 20",
        "options": {
          "queryReplacement": {
            "values": {
              "1": "={{ $json.sessionId }}"
            }
          }
        }
      },
      "id": "get-history",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 300],
      "credentials": {"postgres": "Tu Credencial Supabase"},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const systemPrompt = \"Eres el asistente de Nosee. Ayudas a usuarios a buscar productos, comparar precios y encontrar las mejores ofertas. Sé claro, conciso y amigable.\";\n\nconst history = $input.all().map(m => ({\n  role: m.role || 'assistant',\n  content: m.content\n}));\n\nconst currentMessage = $json.message;\nconst sessionId = $json.sessionId;\nconst userId = $json.userId;\n\nconst messages = [\n  { role: \"system\", content: systemPrompt },\n  ...history,\n  { role: \"user\", content: currentMessage }\n];\n\nreturn { messages, sessionId, userId, currentMessage };"
      },
      "id": "build-messages",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "Authorization", "value": "Bearer TU_OPENROUTER_API_KEY"},
          {"name": "Content-Type", "value": "application/json"},
          {"name": "HTTP-Referer", "value": "https://nosee.app"},
          {"name": "X-Title", "value": "Nosee Chat"}
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta-llama/llama-3.2-3b-instruct:free\",\n  \"messages\": {{ $json.messages }},\n  \"temperature\": 0.7\n}",
        "options": {"timeout": 120000}
      },
      "id": "openrouter",
      "name": "OpenRouter API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "assignments": {"assignments": [
          {"id": "reply", "name": "reply", "value": "={{ $json.choices[0].message.content }}", "type": "string"},
          {"id": "model", "name": "model", "value": "={{ $json.model }}", "type": "string"},
          {"id": "provider", "name": "provider", "value": "openrouter", "type": "string"}
        ]},
        "options": {}
      },
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "schema": "n8n_schema",
        "table": "chat_hub_messages",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.sessionId }}",
            "sessionId": "={{ $json.sessionId }}",
            "type": "chat",
            "name": "user",
            "content": "={{ $json.currentMessage }}",
            "provider": "openrouter",
            "model": "={{ $json.model }}"
          },
          "schema": [
            {"id": "id", "displayName": "id", "required": true, "type": "string"},
            {"id": "sessionId", "displayName": "sessionId", "required": true, "type": "string"},
            {"id": "type", "displayName": "type", "required": true, "type": "string"},
            {"id": "name", "displayName": "name", "required": true, "type": "string"},
            {"id": "content", "displayName": "content", "required": true, "type": "string"},
            {"id": "provider", "displayName": "provider", "required": false, "type": "string"},
            {"id": "model", "displayName": "model", "required": false, "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "save-user-msg",
      "name": "Save User Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, 200],
      "credentials": {"postgres": "Tu Credencial Supabase"},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": "n8n_schema",
        "table": "chat_hub_messages",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.sessionId }}",
            "sessionId": "={{ $json.sessionId }}",
            "type": "chat",
            "name": "assistant",
            "content": "={{ $json.reply }}",
            "provider": "openrouter",
            "model": "={{ $json.model }}"
          },
          "schema": [
            {"id": "id", "displayName": "id", "required": true, "type": "string"},
            {"id": "sessionId", "displayName": "sessionId", "required": true, "type": "string"},
            {"id": "type", "displayName": "type", "required": true, "type": "string"},
            {"id": "name", "displayName": "name", "required": true, "type": "string"},
            {"id": "content", "displayName": "content", "required": true, "type": "string"},
            {"id": "provider", "displayName": "provider", "required": false, "type": "string"},
            {"id": "model", "displayName": "model", "required": false, "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "save-assistant-msg",
      "name": "Save Assistant Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, 400],
      "credentials": {"postgres": "Tu Credencial Supabase"},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $json.reply } }}"
      },
      "id": "respond",
      "name": "Respond to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {"main": [[{"node": "Get Chat History", "type": "main", "index": 0}]]},
    "Get Chat History": {"main": [[{"node": "Build Messages", "type": "main", "index": 0}]]},
    "Build Messages": {"main": [[{"node": "OpenRouter API", "type": "main", "index": 0}]]},
    "OpenRouter API": {"main": [[{"node": "Extract Response", "type": "main", "index": 0}]]},
    "Extract Response": {"main": [
      [{"node": "Save User Message", "type": "main", "index": 0}],
      [{"node": "Save Assistant Message", "type": "main", "index": 0}]
    ]},
    "Save User Message": {"main": [[{"node": "Respond to Chat", "type": "main", "index": 0}]]},
    "Save Assistant Message": {"main": [[{"node": "Respond to Chat", "type": "main", "index": 0}]]}
  }
}